@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
}

/* link hover */
a {
  @apply text-blue-200 hover:text-white transition;
}
